<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inshare</title>
    <link rel="stylesheet" href="/style.css" >
    
</head>
<body>
    <section class = "upload-container">
        <div class="dropzone"> 
            <div class="img-container">
                <img src="/pngtree-vector-lock-icon-png-image_316863-removebg-preview.png" alt="file icon" draggable="false" class="center">
            </div>
            <div class="error">
                <% if(locals.error) { %>
                    <div class="error">Incorrect Password!</div>
                <% } %>
            </div>
            <form method="post">
                <div class="pwd-section">
                    <label for="password">Password :</label>
                    <input type="password" id="password" name="password" required/>
                    <button type="submit" id="subbtn">Download</button>
                </div>  
            </form>    
        </div>
    </section>
    <script src="/index.js"></script>
</body>
</html>